@model IEnumerable<Employee_Payee_Tax_Calculator_MVC.Models.SalaryPayment>

@{
    ViewData["Title"] = "Index";
}

<h1>Payments with Tax</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CalculatedTax)
            </th>
            <th>
                Salary Per Annum
            </th>
            <th>
                Tax Code
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CalculatedTax)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.SalaryPerAnnum)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Employee.TaxCode)
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
